@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Fluid sizing */

    --fluid-48-96: clamp(48px, 31.3043px + 5.2174vw, 96px);
    --fluid-24-40: clamp(24px, 18.4348px + 1.7391vw, 40px);
    --fluid-300-600: clamp(300px, 195.6522px + 32.6087vw, 600px);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .gradient-text {
    @apply bg-gradient-to-t from-neutral-400 to-neutral-50 bg-clip-text text-transparent;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #46464658;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #323232;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #434343;
}

#markdown {
  font-size: 16px;
  color: rgb(183, 183, 183);
}

#markdown h1,
#markdown h2,
#markdown h3,
#markdown h4,
#markdown h5,
#markdown h6 {
  margin: 1em 0;
  font-weight: bold;
  color: #cfcece;
}

#markdown h1 {
  font-size: 2em;
}

#markdown h2 {
  font-size: 1.75em;
}

#markdown h3 {
  font-size: 1.5em;
}

#markdown h4 {
  font-size: 1.25em;
}

#markdown h5 {
  font-size: 1.1em;
}

#markdown h6 {
  font-size: 1em;
}

#markdown p {
  margin: 0 0 1em;
}

#markdown ul,
#markdown ol {
  margin: 0 0 1em 2em;
}

#markdown ul {
  list-style-type: disc;
}

#markdown ol {
  list-style-type: decimal;
}

#markdown blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin: 0 0 1em;
  font-style: italic;
  color: #666;
}

#markdown code {
  font-family: monospace;
  background-color: #4f4f4f;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

#markdown pre {
  background-color: #3d3d3d;
  padding: 1em;
  border-radius: 4px;
  overflow: auto;
  font-family: monospace;
  white-space: pre;
}

#markdown a {
  text-decoration: underline;
}

#markdown a:hover {
  text-decoration: none;
}
